<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metas %}{% endblock metas %}
    {% block stylesheets %}{% endblock stylesheets %}
    {% block preloads %}{% endblock preloads %}
    <title>{% block title %}Title{% endblock title %}</title>
</head>

<body>
    {% block body %}{% endblock body %}
    {% block footer %}<footer>Footer</footer>{% endblock footer %}
    {% block javascripts %}{% endblock javascripts %}
</body>

</html>